body {
    background: var(--color-black);
    color: #fff;
    padding: 4vh 3vh;
}
/*profile */
/*민주가 여기*/

/* web-title*/
.web-title1{
    display: flex;
    align-items: center;
}
.icon1 {
    width: 3vw;
    height: 3vw;
    background-color: #C77DFF; 
    border-radius: 50%;
    margin-right: 3px;
}
.icon2 {
    width: 3vw;
    height: 3vw;
    background-color: #5A189A; 
    border-radius: 50%;
    margin-right: 3px;
}
.icon3 {
    width: 3vw;
    height: 3vw;
    background-color: #C8B6FF; 
    border-radius: 50%;
    margin-right: 3px;
}

.web-title h1 {
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}
  
/* group-search-container */
.group-search-container {
    background-color: #191919;
    width: 50%;
    padding: 5px 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.group-search-container img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #2A2A2A;
    padding: 10px
}
#groupSearchInput{
    flex: 1;
    background-color: transparent;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    color: #fff;
    outline: none;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.group-search-container button {
    padding: 19px 16px 19px 16px;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
#groupSearchBtn {
    background-color: transparent;
    border: 1px solid #404040;
    color: #fff;
}
#groupSearchInput::placeholder {
    color: #fff;
}
#createRoutineBtn {
    background-color: var(--background-color-grape-magenta);
    color: #000;
}
/*main-content*/
.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}
/* my-week-routine */
.my-week-routine {
    width: 50%;
}
.my-week-routine-content{
    background-color: #191919;
    padding: 30px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0;
}
.routine-ranking h2,
.my-week-routine-content h2{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.routine-ranking h3,
.my-week-routine-content h3{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.routine-result-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    list-style: none;
    gap: 2vh;
    padding: 0;
}
.routine-result-container li {
    min-width: 0;
    max-width: 200px;
}
.routine-result-container p {
    font-size: 12px;
    color: #797979;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.routine-result-container .grapes-num{
    font-size: 24px;
    color: var(--background-color-grape-magenta);
}
.completed-num, .uncompleted-num {
    font-size: 24px;
    color: #fff;
}
.all-num {
    font-size: 14px;
    color: #797979;
}
/*today-routine*/
.today-routine-and-calendar {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.today-routine {
    width: 50%;
}
.today-routine h4{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.today-routine .today-date {
    margin-top: 0;
    font-size: 14px;
    color: #797979;
}
.today-routine-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap : 5px;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.today-routine-container.show-details {
    max-height: none;
}

.today-routine-wrapper {
    background-color: #2A2A2A;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

.today-routine-wrapper img {
    width: 20px;
    height: 20px;
}
.today-routine-wrapper p {
    color: #797979;
    margin-left: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail-btn-container{
    background-color: #191919;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.detail-btn-container:hover {
    background-color: #3D384B;
}
.detail-btn {
    background-image: url("/public/assets/image/down-arrow.png");
    background-size: cover;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: center;
}
/*calendar-routine */
.calendar-routine {
    width: 50%;
    margin-left: 5vh;
    margin-bottom: 30px;
    max-height: 350px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.calendar-routine.show-details {
    max-height: none;
}
#calendarRoutineTable {
    width: 100%;
}
#calendarRoutineTable th {
    font-size: 14px;
    color: #797979;
    font-weight: normal;
    padding-bottom: 10px;
}
#calendarRoutineTable .completed-notToday-grape,
#calendarRoutineTable .completed-today-grape,
#calendarRoutineTable .uncompleted-grape {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 50%;
    margin: auto;
}
#calendarRoutineTable .completed-notToday-grape{
    background-color: #C8B6FF; 
}
#calendarRoutineTable .completed-today-grape{
    background-color: #9D4EDD; 
}
#calendarRoutineTable .uncompleted-grape{
    background-color: #240046;
    position: relative;
    overflow: hidden;
}

#calendarRoutineTable .uncompleted-grape::after {
    content: '';
    position: absolute;
    width: 180%;
    height: 150%;
    background-color: #C8B6FF;
    top: 90%; 
    left: 26%; 
    transform: rotate(50deg);
}

/* routine-ranking */
.routine-ranking {
    background-color: #191919;
    width: 25%;
    padding: 30px 20px;
    border-radius: 20px;
    max-height: 610px; 
}
.routine-ranking-container {
    overflow-y: scroll;
    max-height: 500px; 
}
.routine-ranking-container::-webkit-scrollbar {
    display: none; 
}

.routine-ranking-wrapper {
    padding: 20px 0;
}
.ranking-title {
    display: flex;
    position: relative;
    font-size: 1.1vw;
    font-weight: 400;
}
.routine-title {
    margin-top: 1.4vw;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ranking {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2vw;
    font-weight: 500;
}
.detail-routine-btn {
    background-image: url("/public/assets/image/vector-arrow.png");
    background-size: cover;
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent
}
.detail-routine-btn:hover {
    background-image: url("/public/assets/image/vector-arrow-white.png");
}
.routine-progress-bar {
    width: 100%;
    height: 10px;
    background-color: #2A2A2A;
    border-radius: 2px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
}
.routine-participants {
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.routine-participants img {
    width: 12px;
    height: 12px;
    margin-right: 3px;
}
.participants-num {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.participants-text {
    color: #797979;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* my-all-routine-container */
.my-all-routine-container {
    background: var(--color-grey2);
    width: 25%;
    height: fit-content;
    padding: 30px 20px;
    padding-bottom: 0;
    border-radius: var(--border-radius-box);

    display: flex;
    flex-direction: column;
}

.my-all-routine-wrapper {
    margin-top: 40px;
}

.my-all-routine-text-wrapper {
    margin: 10px 0;
}

.my-all-routine-text-wrapper h2 {
    font-size: 18px;
    /* font-size: 0.9375vw; */
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.025em;
    margin: 0;
}

.my-routine-row {
    display: grid;
    justify-content: center;
    gap: 5px;
}

.my-routine-row:nth-child(1) {
    grid-template-columns: repeat(2, 32.7%);
}

.my-routine-row:nth-child(2) {
    margin: 5px 0;
    grid-template-columns: repeat(3, 32.7%);
}

.my-routine-row:nth-child(3) {
    grid-template-columns: 32.7%;
}

.my-routine {
    aspect-ratio: 1/1;
    width: 100%;
    
    border-radius: var(--border-radius-round);
    background: conic-gradient(from 270deg, #7B2CBF 0 18deg, #3a3241 0 180deg, var(--color-grey3) 0 360deg);
}

.my-routine-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 55%;
}

.my-routine-rate-container {
    display: flex;
    align-items: center;
}

.my-routine-rate-number {
    font-size: 0.833vw;
    font-weight: 400;
    line-height: 1.04vw;
    letter-spacing: -0.025em;
    color: #7B2CBF;
    margin: 0;
    margin-right: 3px;
}

.my-routine-rate-persent {
    font-size: 0.625vw;
    font-weight: 400;
    line-height: 1.04vw;
    letter-spacing: -0.025em;
    color: #7B2CBF;
    margin: 0;
}

.my-routine-name {
    font-size: 0.833vw;
    font-weight: 300;
    line-height: 1.04vw;
    letter-spacing: -0.025em;
    text-align: center;
    width: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    margin: 0;
}

.my-all-routine-arrow-container {
    display: flex;
    justify-content: end;
}

.my-all-routine-arrow-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 24%;
    aspect-ratio: 1/1;
    border-bottom-right-radius: var(--border-radius-box);
    /* transform: translateY(-64%); */

    position: relative;
    right: -20px;
}

.my-all-routine-arrow-wrapper:hover {
    background: linear-gradient(135deg, var(--color-grey2) 0 50%, #3D384B 50% 100%)
}

.my-all-routine-a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    margin: 0.52vw;
}

.my-all-routine-a:hover {
    cursor: pointer;
}

.arrow {
    width: 2.083vw;
}

/* mobile screen */
.mobile-detail-btn-container {
    display: none
}
.mobile-detail-btn-container span {
    font-size: 14px;
}
.mobile-detail-btn {
    background-image: url("/public/assets/image/bottom-right-arrow.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: center;
}
.mobile-routine-btn-container {
    display: none;
}
#mobileCreateRoutineBtn{
    background-color: var(--background-color-grape-magenta);
    color: #000;
    padding: 19px 16px 19px 16px;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 5px;
}
@media screen and (max-width: 768px) {
    body {
        padding: 2vh 0;
    }
    .web-title h1 {
        font-size: 32px;
        margin-left: 3vh;
    }
    .icon1, .icon2, .icon3 {
        width: 35px;
        height: 35px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .my-week-routine {
        width: 100%;
    }
    .my-week-routine-content {
        border-radius: 20px;
        padding-bottom: 30px;
        margin-bottom: 8vh;
    }
    .routine-result-container {
        width: 100%;
    }
    .today-routine {
        width: 100%;
    }
    .calendar-routine{
        width: 100%;
    }
    .today-routine-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    .today-routine-and-calendar {
        display: flex;
        flex-direction: column;
    }
    .calendar-routine {
        margin-left: 0;
        margin-top: 5vh;
    }
    #calendarRoutineTable .completed-notToday-grape,
    #calendarRoutineTable .completed-today-grape,
    #calendarRoutineTable .uncompleted-grape {
        width: 70%;
        padding-bottom: 70%;
    }
    
    .my-week-routine {
        width: 100%;
    }
    .routine-ranking {
        width: 100%;
    }
    .ranking-title{
        font-size: 16px;
    }
    .routine-title {
        margin-top: 20px;
    }
    .ranking{
        font-size: 16px;
    }
    .detail-routine-btn{
        width: 36px;
        height: 36px;
    }
    .detail-btn-container {
        display: none;
    }
    .mobile-detail-btn-container{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-top: 0;
    }
    .group-search-container {
        width: 90%;
        padding: 5px 5px;
        align-self: center;
        margin: 0 auto; 
    }
    .group-search-container #createRoutineBtn{
        display: none;
    }
    .mobile-routine-btn-container{
        display: block;
        background-color: #191919;
        padding: 5px 0;
        border-radius: 40px;
        display: flex;
        align-items: center;
        margin: 0 auto; 
        width: 90%;
        margin-top: 5px;
        margin-bottom: 8vh;
    }
    .mobile-routine-btn-container span {
        flex: 1;
        color: #797979;
        text-align: center;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    .routine-ranking {
        margin-bottom: 8vh;
    }

    .my-all-routine-container {
        width: 100%;
        padding: 30px 20px;
        border-radius: 22px;
    }
    .my-all-routine-text-wrapper {
        margin: 0;
    }
    .my-routine-row {
        gap: 3px;
    }
    .my-routine-row:nth-child(1) {
        grid-template-columns: repeat(2, 32%);
    }
    .my-routine-row:nth-child(2) {
        margin: 3px 0;
        grid-template-columns: repeat(3, 32%);
    }
    .my-routine-row:nth-child(3) {
        grid-template-columns: 32%;
    }
    .my-routine-rate-container {
        top: 52%;
    }
    .my-routine-rate-number {
        font-size: 2.564vw;
        line-height: 4.1vw;
    
        margin: 0;
    }
    .my-routine-rate-persent {
        font-size: 2.564vw;
        line-height: 4.1vw;
    }
    .my-routine-name {
        font-size: 3.07vw;
        line-height: 4.1vw;
    
        width: 17.948vw;
    
        margin: 0;
    }
    .my-all-routine-arrow-wrapper {
        aspect-ratio: 0;
    
        right: 0;
    }
    .my-all-routine-arrow-wrapper:hover {
        background: none;
    }
    .my-all-routine-a {
        justify-content: flex-end;
    
        margin: 0;
    }
    .my-all-routine-a:before {
        content: "더보기";
        
        font-size: 3.589vw;
        font-weight: 300;
        line-height: 4.615vw;
        letter-spacing: -0.025em;
        color: #fff;
    
        white-space: nowrap;
    
        transform: translateX(20%);
    }
    .arrow {
        width: 10.256vw;
    }
}