@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard';

  background: var(--color-black);
  color: #fff;
}

.group-content {
  display: flex;
  max-width: 1680px;
  margin: auto;
  padding: 80px 0;
}

.group-info-wrapper {
  width: 520px;
  padding: 0 90px;
  flex: none;
}

.group-member-container {
  width: 976px;
  padding: 0 90px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

.group-member {
  position: relative;
  width: 148px;
  height: 148px;
  background: conic-gradient(var(--color-grey3) 0 25%, var(--background-color-grape-purple) 0 75%);
  border-radius: var(--border-radius-round);
}

.group-member:hover > .group-member-hover {
  display: unset;
}

.group-member-image {
  width: 137px;
  height: 137px;
  border-radius: var(--border-radius-round);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.group-member-hover {
  display: none;
}

.group-member-info {
  text-align: center;

  transform: translate(0%, 240%);
}

.group-member-nickname {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.025em;
  
  margin: 0;
}

.group-member-persent {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.025em;

  margin: 0;
}

.group-member-layer {
  width: 137px;
  height: 137px;

  border-radius: var(--border-radius-round);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: linear-gradient(rgba(19, 19, 19, 0.02), 75%, var(--color-grey2));
}

@media screen and (max-width: 768px){
  .group-content {
    display: flex;
    justify-content: center;
  }

  .group-member-container {
    width: 342px;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }

  .group-member {
    width: 112px;
    height: 112px;
  }
  
  .group-member-image {
    width: 104px;
    height: 104px;
  }

  .group-member-info {
    transform: translate(0%, 200%);
  }
  
  .group-member-nickname {
    font-size: 12px;
    line-height: 16px;
  }
  
  .group-member-persent {
    font-size: 14px;
    line-height: 18px;
  }
  
  .group-member-layer {
    width: 104px;
    height: 104px;
  }
}

@media screen and (max-width: 375px){
  .group-member-container {
    width: 244px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}