@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard';

  background: var(--color-black);
  color: #fff;

  display: flex;
  align-items: center;

  height: 100vh;
}

.logo-container {
    padding: 0 170px;
}

.grape {
    display: inline-block;

    width: 104px;
    height: 104px;

    border-radius: var(--border-radius-round);
}

.grape[data-grape="1"] {
    background-color: #C77DFF;
}

.grape[data-grape="2"] {
    background-color: #5A189A;
}

.grape[data-grape="3"] {
    background-color: #C8B6FF;
}

.grape-container {
    display: inline;

    letter-spacing: -1.3rem;
}

.title {
    font-size: 128px;
    font-weight: 600;
    line-height: 140px;
    letter-spacing: -0.025em;

    margin: 0;
    margin-bottom: 100px;
}

.letter-spacing {
    letter-spacing: normal;
}

.arrow {
    width: 96px;

    transform: translate(-30%, 35%);
}

.kakao-login {
    cursor: pointer;
}

@media screen and (max-width: 1120px){
    body {
        justify-content: center;
        align-items: normal;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;
        padding-top: 200px;
    }

    .grape {
        width: 32px;
        height: 32px;
    }

    .grape-container {
        letter-spacing: -0.2rem;
    }

    .grape[data-grape="2"],
    .grape[data-grape="3"] {
        vertical-align: middle;
    }

    .title {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.025rem;

        margin-bottom: 293px;
    }

    .arrow {
        width: 36px;
    
        transform: translate(-10%, 30%);
    }
}