:root {
  /* Background or Font Color */
  --color-black: #000000;
  --color-grey1: #222222;
  --color-grey2: #191919;
  --color-grey3: #2A2A2A;
  --color-grey4: #797979;

  /* Circular Graph Color */
  --background-color-grape-deepPurple: #240046;
  --background-color-grape-purple: #9D4EDD;
  --background-color-grape-magenta: #C8B6FF;

  /* Border Radius */
  --border-radius-round: 50%;
  --border-radius-progress-bar: 2px;
  --border-radius-box: 20px;
  --border-radius-inner-box: 16px;
  --border-radius-search-bar: 40px;
  --border-radius-search-btn: 100px;
  --border-radius-group-btn: 40px;
}

html, body {
  margin: 0;
}

div {
  box-sizing: border-box;
}